<div class="container mt-3">
  <h2 class="title">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="field">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "ml-3"}
                    %>
      </div>
      <div class="field">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" , class: "ml-3 mr-3"}%>
      </div>
      <div class="field">
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" , class: "ml-3"} %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button is-primary mt-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>