- unless @docs.blank?
  - @docs.each do |doc|
    .box.container.mt-3
      %article
        .media-content
          %strong= link_to doc.title, doc
          %p= time_ago_in_words(doc.created_at)
          %p= truncate(doc.content, length:50) 
- else
  .container.mt-3
    %h2 Create a doc!
    %p Start creating documents for your thogths and your grate %Ideas!
    %button.button= link_to "Create Doc", new_doc_path 
  