.container.mt-3	
  #doc_show
    %h1.title= @doc.title
    %p= simple_format(@doc.content)
    .container.mt-2
      %button.button.is-primary.is-outlined.is-small= link_to "All Documments", docs_path
      %button.button.is-link.is-outlined.is-small= link_to "Fix Documments", edit_doc_path(@doc)
      %button.button.is-danger.is-outlined.is-small= link_to "Trash It", doc_path(@doc), method: :delete, data: {confirm: "Are you sure?"}