%section.pt-3.pb-3
  .container
    .card
      .card-image
        %figure.image.is-2by1

          = image_tag 'https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80', alt: '', height: '', width: '', class: ''
      .card-content
        %h2.title File Cabinet
        %p File Cabinet is a thoghts manager to express your feeling and ideas in an easy way!
        %button.button.is-light= link_to "Please feel free to sign up!", new_user_registration_path

%section.hero.is-dark.is-bold
  .hero-body
    .container
      %h1.title File Cabinet 
      %h2.subtitle Organazing you thoughs, Always!
      %button.button.is-primary.is-light.is-medium= link_to "Join Us", new_user_registration_path