<div class="container mt-3">
  <h2 class="title">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <div class="field">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "ml-3" } %>
      </div>
      <div class="field">
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", class: "ml-3" } %>
        <%= f.input :remember_me, input_html: { class: "mr-3"}, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "button is-primary mt-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>