.box {
  background-color: #fbf7f0;
}

.doc_content {
  margin-top: 1rem;
  height: 25rem;
}

#doc_title {
  margin-left: 1rem;
}

#doc_content {
  margin-left: 1rem;
  width: 100%;
  height: 100%;
}

#doc_show {
  .title {
    font-weight: bold;
    color: balck;
    font-size: 2rem;
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(82, 158, 204, 0.2);
    text-align: center;
  }
  p {
    font-size: 1rem;
    line-height: 1.75;
  }
}
