!!!
%html
%head
  %title FileCabinet | Your Daily Work %Notes!
  = stylesheet_link_tag 'application', media: 'all', 'data-turbo-links' => true
  = javascript_pack_tag 'application', 'data-turbo-links' => true
  = csrf_meta_tags
%body
  %header
    .navbar.is-light
      .navbar-brand
        = link_to "FileCabinet", root_path, id: "logo", class: "navbar-item"

      %nav.navbar-end
        - if user_signed_in?
          = link_to "Create Documment", new_doc_path, class: "navbar-item"
          = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-item" 
        
        - else
          = link_to "Log In", new_user_session_url, class: "navbar-item"

  
  %p.notice= notice
  %p.alert= alert

  = yield
